* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    background-color: #F6F6F6;
    height: 1150px;
}

nav {
    font-family: 'IBM Plex Sans', sans-serif;
    position: fixed;
    z-index: 2;
    font-size: 15px;
    display: flex;
    width: 100vw;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-weight: lighter;

    .containerNav {
        align-items: center;
        width: 60vw;
        display: flex;

        img.logo {
            margin: 0 4rem 0.25rem 1.75em;
        }

        ul {

            display: inline-flex;
            list-style: none;
            letter-spacing: 0.25px;

            li {
                margin: 0 0.5rem;
                cursor: pointer;
            }
        }

        #spanRight {
            margin: 0 0 0 24rem;

            a {
                color: #00afff;
                text-decoration: none;
                margin: 0 0.4rem;
            }

            a#reg {
                font-size: medium;
                background-color: #00AFFF;
                color: white;
                border-radius: 3rem;
                padding: 0.75rem 1rem;
            }
        }
    }

}

main {
    position: absolute;
    width: 100%;
    height: 692px;
    z-index: -1;
    background-color: #80FFFB;
    display: flex;
    justify-content: center;

    video {
        clip-path: inset(0 13px);
    }

}

section#caja1 {
    color: #211748;
    position: absolute;
    display: flex;
    width: 20vw;
    height: 50vh;
    margin: 10.55rem 0 0 31rem;
    flex-wrap: wrap;

    p#subP {
        font-size: 20px;
        font-weight: 500;
        font-family: 'IBM Plex Sans', sans-serif;

    }

    h1 {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 44px;
        font-weight: 660;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 37px;
        margin-bottom: 1.75rem;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: min-content;
        flex-wrap: wrap;
        margin: 0 0.5rem;

        p:nth-child(odd) {
            width: 100%;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: lighter;
        }

        p.subP {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 12px;
        }
    }

    a {
        font-family: 'IBM Plex Sans', sans-serif;
        width: 30%;
        height: 45px;
        background-color: #00AFFF;
        color: white;
        border-radius: 10em;
        padding: 0 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

}

div#svgImg {
    position: absolute;
    top: 692px;
    width: 100%;
    height: 424px;
    background-color: white;

    div {
        width: 50vw;
        margin: 0 25vw;
        height: 100%;
        display: flex;
        justify-content: space-evenly;

        span {
            margin: 4rem 0;

            h3 {
                color: #1AB7FF;
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: lighter;
            }
            p {
                font-size: 14px;
                font-family: 'IBM Plex Sans', sans-serif;  
            }
        }
    }
}

footer {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    font-size: small;
    margin: 0 30vw;
    width: 40vw;
    height: 34px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 1116px;

    a {
        color: #1AB7FF;
        letter-spacing: 1px;
    }

}